.root {
  height: 100vh;
  font-family: Arial;

  .content {
    // margin: 60px 100px 0px;
    text-align: center;
    margin-top: 60px;
    min-height: 90vh;
    background: #d9d9d9;
    text-align: center;
    @media screen and (max-width: 500px) {
      margin: 60px 0px 0px;
    }
  }
}

body {
  min-width: 500px;
  margin: unset;
}
